In [21]:
import pandas as pd
import numpy as np

df = pd.read_excel("score.xlsx", index_col="지원번호")

In [5]:
def add_cm(height):
    return str(height) + "cm"

In [8]:
df['키'] = df['키'].apply(add_cm)
df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197cm   90   85  100  95  85      Python
2번    강태원   구로고  184cm   40   35   50  55  25        Java
3번    강호림   구로고  168cm   80   75   70  80  75  Javascript
4번    김수찬   구로고  187cm   40   60   70  75  80         NaN
5번    김재욱   구로고  188cm   15   20   10  35  10         NaN
6번    박동현  디지털고  202cm   80  100   95  85  80           C
7번    박혜정  디지털고  188cm   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190cm  100   85   90  95  95          C#

In [9]:
df['SW특기'] = df['SW특기'].str.lower()

In [ ]:
def change(lang):
    if pd.notnull(lang):
        # pd.notnull(list) : list에서 null인지 아닌지 유무를 True/False로 확인
        # lang.str.upper() -> list에서 1개 str씩
        return lang.upper()
    else:
        return lang

In [ ]:
# 함수 호출 : apply
df['SW특기'] = df['SW특기'].apply(change)

df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197cm   90   85  100  95  85      PYTHON
2번    강태원   구로고  184cm   40   35   50  55  25        JAVA
3번    강호림   구로고  168cm   80   75   70  80  75  JAVASCRIPT
4번    김수찬   구로고  187cm   40   60   70  75  80         NaN
5번    김재욱   구로고  188cm   15   20   10  35  10         NaN
6번    박동현  디지털고  202cm   80  100   95  85  80           C
7번    박혜정  디지털고  188cm   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190cm  100   85   90  95  95          C#

지원번호
1번     True
2번     True
3번     True
4번    False
5번    False
6번     True
7번     True
8번     True
Name: SW특기, dtype: bool