In [1]:
import pandas as pd

In [55]:
# 상단 3개를 삭제후 가져오기
# index는 행정기관으로 지정해서 df로 변환해서 출력
# 위 5개만 출력

df = pd.read_excel("연령별인구현황01.xlsx", index_col="행정기관", skiprows=3,usecols='B,E:Y') # usecols : 컬럼을 선택해서 가져옴 'B,D,E', 'B,E:Y', 'A:E' (엑셀 상단 컬럼명과 동일)
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,417,505","2,093,251","2,355,722","2,346,760","2,926,871","3,466,590","3,317,585","3,282,667","4,035,632","4,030,089",...,"4,069,470","4,229,648","3,204,685","2,212,874","1,622,325","1,310,416","672,658","231,219","48,686","7,911"
서울특별시,"226,004","315,591","361,785","386,434","575,522","809,688","758,923","665,265","732,645","714,949",...,"690,448","718,932","582,434","409,179","306,272","221,124","102,832","34,779","7,865","1,319"
부산광역시,"80,689","124,494","134,248","131,837","181,552","212,108","200,002","195,377","251,447","242,657",...,"262,102","303,306","254,134","183,061","126,485","93,231","41,976","13,450","2,795",409
대구광역시,"60,786","96,039","106,674","110,849","140,161","152,874","141,313","137,469","177,311","185,898",...,"198,153","200,679","151,565","110,537","74,368","60,352","29,503","9,259","1,717",241
인천광역시,"85,169","123,013","137,474","135,484","166,637","208,366","205,783","199,256","244,805","237,326",...,"244,666","249,374","173,579","109,282","79,444","59,698","30,637","11,223","2,571",442
광주광역시,"42,139","63,976","74,046","76,569","95,838","102,002","87,883","88,800","114,637","117,816",...,"110,256","103,994","74,141","55,465","40,774","31,672","15,200","5,286","1,078",177
대전광역시,"41,361","60,298","68,401","71,727","94,517","108,805","96,629","91,114","110,831","115,440",...,"109,231","113,321","84,735","56,301","39,158","31,129","15,828","5,428","1,142",178
울산광역시,"32,670","51,756","56,603","53,721","59,271","69,327","68,287","70,839","92,233","89,151",...,"99,824","96,744","67,395","41,974","25,387","18,123","8,535","2,863",609,62
세종특별자치시,"18,847","26,940","27,708","21,694","17,712","20,588","27,748","33,184","41,407","35,425",...,"21,642","20,904","15,128","9,581","6,164","5,127","3,022","1,156",241,34
경기도,"423,759","611,985","675,091","653,151","789,723","942,085","934,736","944,047","1,156,612","1,128,125",...,"1,061,202","1,034,327","726,848","463,905","347,645","268,101","138,393","48,028","10,503","1,768"
강원도,"40,510","54,983","64,442","67,389","83,743","85,631","79,613","80,342","103,698","111,681",...,"128,433","149,962","119,006","74,866","63,474","54,458","27,445","9,658","2,368",346
충청북도,"43,987","64,677","73,174","72,525","86,948","100,694","92,481","94,432","115,618","120,231",...,"130,074","142,840","109,741","70,812","53,286","47,648","26,460","8,569","1,708",276
충청남도,"60,820","90,598","103,048","99,442","110,868","119,515","120,972","131,561","163,962","163,088",...,"162,476","178,790","136,433","100,390","73,757","68,627","41,375","14,483","2,822",461
전라북도,"41,881","67,620","82,304","85,115","99,993","97,524","85,326","90,443","119,259","133,763",...,"143,635","155,233","123,011","95,121","73,377","66,841","37,134","13,018","2,645",480
전라남도,"46,307","67,836","80,680","80,615","92,878","92,529","81,782","89,903","118,724","128,422",...,"155,959","167,161","127,890","104,852","83,495","81,027","42,433","15,229","3,025",548
경상북도,"65,272","98,493","110,528","109,919","127,534","132,064","128,164","138,855","179,824","189,274",...,"222,804","248,159","198,837","147,501","102,049","96,607","53,258","18,037","3,596",540
경상남도,"86,004","141,926","162,923","156,043","166,877","172,476","170,041","190,516","257,452","261,274",...,"273,913","294,560","221,803","154,075","106,224","90,125","48,761","16,984","3,192",396
제주특별자치도,"21,300","33,026","36,593","34,246","37,097","40,314","37,902","41,264","55,167","55,569",...,"54,652","51,362","38,005","25,972","20,966","16,526","9,866","3,769",809,234

In [18]:
df['0~4세']

행정기관
전국           1,417,505
서울특별시          226,004
부산광역시           80,689
대구광역시           60,786
인천광역시           85,169
광주광역시           42,139
대전광역시           41,361
울산광역시           32,670
세종특별자치시         18,847
경기도            423,759
강원도             40,510
충청북도            43,987
충청남도            60,820
전라북도            41,881
전라남도            46,307
경상북도            65,272
경상남도            86,004
제주특별자치도         21,300
Name: 0~4세, dtype: object

In [42]:
# df[0] : 에러
# df : 전체를 보는 명령어
# df['컬럼명'] : 컬럼을 보는 명령어
# df[슬라이싱] : row를 보는 명령어 = df.iloc[번호] = df.loc[이름]
df.index
df[0:1]
# 데이터 replace함수를 적용, 타입을 변경 : astype
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int) # 숫자 타입 >> describe(수학적 통계) 가능
df.describe()

AttributeError: Can only use .str accessor with string values!

In [59]:
## 남자부부만 가져옴
## 여자 부분만 가져와서 출력
## 위 3개를 제외하고 행정기관 index 여자부분만 가져옴

df_w = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,usecols='B,AB:AV')
df_w
df_w['0~4세.1']
df_w.columns = df.columns # 여자컬럼과 남자컬럼명 다르기에 통일
df_w.columns

# 천단위,int타입 변경
df_w.iloc[0] = df_w.iloc[0].str.replace(",","").astype(int)
df_w.iloc[0]

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

0~4세        726460
5~9세       1072653
10~14세     1211077
15~19세     1211949
20~24세     1524378
25~29세     1823908
30~34세     1737714
35~39세     1684266
40~44세     2055130
45~49세     2039606
50~54세     2303096
55~59세     2052227
60~64세     2097254
65~69세     1554976
70~74세     1038388
75~79세      713448
80~84세      507915
85~89세      212726
90~94세       54180
95~99세        8880
100세 이상       1307
Name: 전국  , dtype: object